 @font-face {
    font-family: '新蒂香草體';
    src: url('./SentyVanilla.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: '文鼎剛';
    src: url('./HanyiSentyLotus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
